:host {
  display: grid;
  place-items: center;
}

:host > * {
  grid-column: 1;
  grid-row: 1;
}

.hand {
  display: grid;
  grid-auto-columns: 2.5vw;
  grid-auto-flow: column;
}

.primary-border {
  border-color: var(--theme-primary-color);
  border-width: 2px;
}
