<div
  class="rounded p-2 bg-neutral-600 flex flex-col"
  [class.opacity-70]="type == 'player' && !player?.ready"
  [class.primary-border]="isPlayerTurn"
>
  <span class="text-lg">{{
    type == "dealer" ? "Dealer" : player?.displayName || "No Player"
  }}</span>

  <app-money-counter *ngIf="player" [money]="player.money"></app-money-counter>

  <app-timestamp-progress-bar
    *ngIf="player"
    class="scale-y-150"
    [endTimestamp]="
      isPlayerTurn ? game.room!.state.currentTurnTimeoutTimestamp : 0
    "
  ></app-timestamp-progress-bar>
</div>

<div class="card-holder">
  <div class="grid place-items-center">
    <div
      *ngIf="player?.roundOutcome"
      class="bg-black z-10 rounded-xl p-3 text-xl enter-animation col-start-1 row-start-1"
    >
      {{ player && roundOutcomeToDisplayMessage[player.roundOutcome] }}
    </div>

    <div
      class="flex col-start-1 row-start-1 transition-opacity duration-1000"
      [class.opacity-80]="player?.roundOutcome"
    >
      <div class="hand">
        <app-card *ngFor="let card of hand?.cards" [card]="card"></app-card>
      </div>
      <div style="width: 60px"></div>
    </div>
  </div>

  <div class="text-center mt-4" style="height: 1em">
    {{
      !hand?.score
        ? ""
        : hand?.isBlackjack
        ? "Blackjack"
        : "Cards value: " + hand?.score
    }}
  </div>
</div>
