<div class="w-64">
  <!-- Bet input -->
  <div class="flex gap-2 p-2" [class.opacity-30]="roundInProgress">
    Bet: {{ bet }}
    <button (click)="betChange.emit(5)">5</button>
    <button (click)="betChange.emit(10)">10</button>
    <button (click)="betChange.emit(50)">50</button>
  </div>

  <!-- Ready input -->
  <div *ngIf="!roundInProgress">
    <button
      mat-raised-button
      color="primary"
      (click)="readyChange.emit(!ready)"
    >
      {{ ready ? "Not ready" : "Ready" }}
    </button>
  </div>

  <!-- Action input-->
  <div *ngIf="roundInProgress" [class.opacity-30]="!playersTurn">
    <button mat-raised-button color="primary" (click)="stay.emit()">
      Stay
    </button>
    <button mat-raised-button color="primary" (click)="hit.emit()">Hit</button>
  </div>
</div>
