<span class="text-gray-600"></span>

<button mat-raised-button color="primary" (click)="game.createRoom()">
  Create room
</button>

<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput #roomId />
</mat-form-field>

<button mat-raised-button color="primary" (click)="game.joinRoom(roomId.value)">
  Join room
</button>

<div class="bg-gray-100 p-2" *ngIf="game.room">
  Room id:
  {{ game.room.id }}

  Player id:
  {{ game.room.sessionId }}

  <app-player-action
    [roundInProgress]="game.roundInProgress"
    [playersTurn]="game.playersTurn"
    [ready]="game.player?.ready!"
    (readyChange)="game.setReadyState($event)"
    [bet]="game.player?.bet!"
    (betChange)="game.setBet($event)"
    (hit)="game.hit()"
    (stay)="game.stay()"
  ></app-player-action>

  Players:
  <div class="flex gap-2">
    <div
      *ngFor="let player of game.room.state.players; trackBy: trackByPlayerId"
      class="bg-gray-400 rounded p-2 w-fit"
      [class.bg-red-400]="!player[1].ready"
      [class.bg-green-400]="
        game.room.state.currentTurnPlayerId == player[1].sessionId
      "
    >
      {{ player[1].sessionId }}

      <app-timestamp-progress-spinner
        *ngIf="game.room.state.currentTurnPlayerId == player[1].sessionId"
        [endTimestamp]="game.room.state.currentTurnTimeoutTimestamp"
      ></app-timestamp-progress-spinner>

      <div class="p-2 rounded bg-gray-200 flex gap-2">
        Cards:

        <app-card *ngFor="let card of player[1].cards" [card]="card"></app-card>
      </div>
    </div>
  </div>

  <div class="p-2 rounded bg-blue-400 flex gap-2">
    Dealer Cards:

    <app-card
      *ngFor="let card of game.room.state.dealerCards"
      [card]="card"
    ></app-card>
  </div>

  <div>State: {{ game.room.state.roundState }}</div>
</div>
