<span class="text-gray-600"></span>

<button mat-raised-button color="primary" (click)="game.createRoom()">
  Create room
</button>

<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput #roomId />
</mat-form-field>

<button mat-raised-button color="primary" (click)="game.joinRoom(roomId.value)">
  Join room
</button>
{{ game.room?.id }}
{{ game.room?.sessionId }}

<button mat-raised-button color="primary" (click)="game.changeReadyState()">
  Change ready state
</button>

<button mat-raised-button color="primary" (click)="game.sendMove()">
  Send move
</button>
