<div
  class="grid place-items-center min-h-screen p-12"
  style="grid-template-rows: auto 1fr"
>
  <span class="mat-headline-1">21 Online</span>

  <div class="flex flex-col gap-8">
    <button
      mat-raised-button
      color="primary"
      (click)="game.createRoom()"
      [disabled]="game.joinInProgress"
    >
      Create room
    </button>

    <span class="strike-block"> or </span>

    <mat-form-field class="-mb-4">
      <mat-label>Room ID</mat-label>
      <input matInput [formControl]="roomId" />
    </mat-form-field>

    <div
      [matTooltip]="joinButtonInvalidTooltip"
      [matTooltipDisabled]="!roomId.invalid"
    >
      <button
        mat-raised-button
        color="primary"
        class="w-full"
        (click)="game.joinRoom(roomId.value!)"
        [disabled]="roomId.invalid || game.joinInProgress"
      >
        Join room
      </button>
    </div>
  </div>
</div>
