<div
  class="grid place-items-center min-h-screen p-8"
  style="grid-template-rows: auto 1fr auto"
>
  <header class="text-center font-serif">
    <div class="text-9xl mt-8">21 Online</div>
    <div class="text-xl mt-8">A multiplayer Blackjack game</div>
  </header>

  <div class="flex flex-col gap-8">
    <button
      mat-raised-button
      color="primary"
      (click)="game.createRoom()"
      [disabled]="game.joinInProgress"
    >
      Create room
    </button>

    <span class="strike-block"> or </span>

    <mat-form-field class="-mb-4" [hideRequiredMarker]="true">
      <mat-label>Room ID</mat-label>
      <input
        matInput
        [formControl]="roomId"
        (keyup.enter)="roomId.invalid || game.joinRoom(roomId.value!)"
      />
    </mat-form-field>

    <div
      [matTooltip]="joinButtonInvalidTooltip"
      [matTooltipDisabled]="!roomId.invalid"
    >
      <button
        mat-raised-button
        color="primary"
        class="w-full"
        (click)="game.joinRoom(roomId.value!)"
        [disabled]="roomId.invalid || game.joinInProgress"
      >
        Join room
      </button>
    </div>
  </div>

  <footer>
    <a class="text-neutral-400" href="https://github.com/stopnoanime/21-online"
      >View the source on GitHub</a
    >
  </footer>
</div>
