<div class="grid place-items-center min-h-full p-4">
  <div class="flex gap-2 place-self-start">
    <button
      mat-mini-fab
      color="primary"
      matTooltip="Leave room"
      (click)="game.room!.leave()"
    >
      <mat-icon>logout</mat-icon>
    </button>

    <button
      mat-mini-fab
      color="primary"
      matTooltip="Copy room link to clipboard"
      [cdkCopyToClipboard]="location.href.split('?')[0]"
    >
      <mat-icon>link</mat-icon>
    </button>

    <button
      *ngIf="game.player?.admin"
      mat-mini-fab
      color="primary"
      matTooltip="You are the room's admin"
    >
      <mat-icon>star</mat-icon>
    </button>
  </div>

  <div class="grid place-items-center py-8 w-min">
    <div class="player-holder row-start-1 col-start-1">
      <app-player
        [type]="'dealer'"
        [dealerHand]="game.room!.state.dealerHand"
        [scoreBottom]="true"
      ></app-player>

      <app-player
        *ngFor="let player of getAllPlayers(smallScreen$ | async); index as i"
        [style.z-index]="10 - Math.round(getPlayerPosition(i) * 10)"
        [player]="player"
        [scoreBottom]="
          (smallScreen$ | async) ||
          (getPlayerPosition(i) <= 0.25 && getPlayerPosition(i) != 0)
        "
        (kick)="game.kick($event)"
        [isPlayerTurn]="
          game.room!.state.currentTurnPlayerId === player?.sessionId
        "
        [clientIsPlayer]="game.room!.sessionId === player?.sessionId"
        [endTimestamp]="game.roundEndTimestamp"
        [clientIsAdmin]="game.player?.admin"
      ></app-player>
    </div>

    <div
      class="row-start-1 col-start-1 z-0 text-amber-50 font-serif text-center"
    >
      <span class="table-font-xl">Blackjack pays 3 to 2</span><br />
      <span class="table-font-lg">Dealer must stand on 17</span>
    </div>

    <div
      *ngIf="
        game.room!.state.roundState == 'idle' &&
        game.room!.state.nextRoundStartTimestamp
      "
      class="row-start-1 col-start-1 z-10 table-font-xl pill-popup"
      data-cy="roundStart-popup"
    >
      Starting round
    </div>
  </div>

  <app-player-actions
    class="sm:mt-6"
    [betMenuDisabled]="game.roundInProgress || game.player?.ready"
    [currentBet]="game.player?.bet || 0"
    (changeBet)="game.changeBet($event)"
    (setBet)="game.setBet($event)"
    [readyMenuHidden]="game.roundInProgress"
    [ready]="game.player?.ready"
    (readyChange)="game.setReadyState($event)"
    [autoReady]="game.player?.autoReady"
    (autoReadyChange)="game.setAutoReadyState($event)"
    [stayHitMenuDisabled]="!game.playersTurn"
    (stay)="game.stay()"
    (hit)="game.hit()"
  ></app-player-actions>

  <span class="text-neutral-400 self-end" data-cy="roomId-value">
    Room ID: {{ game.room!.id }}
  </span>
</div>
