@use "sass:math";

/// Modified from https://css-tricks.com/snippets/sass/placing-items-circle/
@mixin playingTable($players-count, $card-position) {
  position: relative;

  > * {
    position: absolute;

    $angleStep: calc(360 / $players-count);
    $angle: 270;

    @for $i from 1 through $players-count {
      &:nth-child(#{$i}) {
        left: calc(50% * math.cos($angle * 1deg) + 50%);
        top: calc(50% * math.sin($angle * 1deg) + 50%);
        transform: translate(-50%, -50%);
        z-index: 20;

        //Used for card enter/leave animations
        --card-translation-x: #{calc(-100% * math.cos($angle * 1deg))};
        --card-translation-y: #{calc(-100% * math.sin($angle * 1deg))};

        //Sets the initial cards position
        ::ng-deep .card-holder {
          @screen xl {
            transform: translate(
              calc(
                -50% * math.cos($angle * 1deg) - 100px * math.round(math.cos($angle *
                        1deg))
              ),
              calc(
                -50% * math.sin($angle * 1deg) - 75px * math.round(math.sin($angle *
                        1deg))
              )
            );
          }
          transform: translate(
            calc(
              -50% *
                math.cos($angle * 1deg) -
                60px *
                math.round(math.cos($angle * 1deg))
            ),
            calc(
              -50% *
                math.sin($angle * 1deg) -
                50px *
                math.round(math.sin($angle * 1deg))
            )
          );
        }
      }

      $angle: $angle + $angleStep;
    }
  }
}

::ng-deep :root {
  --playing-table-aspect-ratio: 2/1;
  --playing-table-height: clamp(
    250px,
    100vh - 340px,
    80vw / var(--playing-table-aspect-ratio)
  );
}

.player-holder {
  //First argument should be gameConfig.maxClients + 1
  @include playingTable(8, 0.5);

  border-radius: 100%;
  @apply bg-green-600;

  aspect-ratio: var(--playing-table-aspect-ratio);
  height: var(--playing-table-height);
}

.table-font {
  font-size: calc(var(--playing-table-height) * 0.08);
  line-height: calc(var(--playing-table-height) * 0.12);
}

.table-font-sm {
  font-size: calc(var(--playing-table-height) * 0.04);
  line-height: calc(var(--playing-table-height) * 0.05);
}
