<div
  class="grid place-items-center min-h-screen bg-neutral-800 p-12 text-neutral-200"
>
  <div class="flex flex-col justify-center gap-12">
    <div class="player-holder">
      <div class="p-2 rounded bg-blue-400 flex gap-2">
        Dealer Cards value: {{ room.state.dealerHand.score }}

        <app-card
          *ngFor="let card of room.state.dealerHand.cards"
          [card]="card"
        ></app-card>
      </div>

      <app-player
        *ngFor="let player of getAllPlayers()"
        [player]="player"
      ></app-player>
    </div>

    <app-player-actions></app-player-actions>
  </div>

  {{ room.id }}
</div>
