<div
  class="pill-menu"
  [attr.disabled]="game.roundInProgress || game.player?.ready ? true : null"
>
  <span>
    Current Bet:
    <span class="inline-block text-center" style="width: 4ch">{{
      game.player?.bet
    }}</span>
  </span>

  <span> Change Bet: </span>
  <button (click)="game.changeBet(-50)">- 50</button>
  <button (click)="game.changeBet(-10)">- 10</button>
  <button (click)="game.changeBet(10)">+ 10</button>
  <button (click)="game.changeBet(50)">+ 50</button>

  <button (click)="game.setBet(+betInput.value)">Set Bet:</button>
  <input
    #betInput
    type="number"
    [min]="gameConfig.minBet"
    [max]="gameConfig.maxBet"
    value="100"
    appInputConstrain
  />
</div>

<div
  class="pill-menu"
  [attr.disabled]="game.roundInProgress && !game.playersTurn ? true : null"
>
  <button
    (click)="game.setReadyState(!game.player?.ready)"
    *ngIf="!game.roundInProgress"
  >
    {{ game.player?.ready ? "Not ready" : "Ready" }}
  </button>

  <button (click)="game.stay()" *ngIf="game.roundInProgress">Stay</button>
  <button (click)="game.hit()" *ngIf="game.roundInProgress">Hit</button>
</div>
