.enter-animation {
  animation-duration: 1s;
  animation-name: enter-animation;
  animation-fill-mode: forwards;
}

@keyframes enter-animation {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.9;
  }
}
