@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --theme-primary-color: #c2185b;
}

.enter-animation {
  animation-duration: 1s;
  animation-name: enter-animation;
  animation-fill-mode: forwards;
}

@keyframes enter-animation {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
